<!doctype html>
<html lang="en" ng-app="h2cApp">
<head>
	<meta charset="utf-8">
	<title>Harvest to Cashboard Converter</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script src="harvest2cashboard.js"></script>
</head>
<body>
	<div ng-controller="harvest2CashboardController as h2c">
		<form ng-submit="h2c.doSomething()">
			<input type="text" ng-model="h2c.todoText" size="30" placeholder="add new todo here">
			<input type="text" ng-model="h2c.userName" size="30" placeholder="Username">
			<input type="text" ng-model="h2c.password" size="30" placeholder="Password">
			<input class="btn-primary" type="submit" value="do">
		</form>
	<div/>
</body>
</html>
